name: Auto-Update Angular, Terraform, Terraform Providers and Helm Dependencies
on:
  workflow_dispatch:
  schedule: 
    # Run on first of every month
    - cron: "30 8 1 * *"
    
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./scripts
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Check Latest Angular, Terraform, Terraform Providers and Helm Versions
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./dependency-versions.sh